# ==========================================
# Hardware Synthesis & PnR (Yosys / NextPNR)
# ==========================================
synth/
*.asc
*.json
*.bin
*.rpt
*.blif
*.log

# ==========================================
# Hardware Simulation (Icarus / GTKWave)
# ==========================================
*.vcd
*.vvp
*.lxt
*.out

# ==========================================
# Software / Firmware (GCC)
# ==========================================
*.elf
*.hex
*.o
*.d
*.map

# ==========================================
# Python (Golden Models)
# ==========================================
__pycache__/
*.py[cod]
*$py.class
