set_io clk 35
set_io resetn 10

set_io a[0] 3
set_io a[1] 4
set_io a[2] 2
set_io a[3] 48
set_io a[4] 46
set_io a[5] 47
set_io a[6] 44
set_io a[7] 45
set_io a[8] 42
set_io a[9] 43

set_io b[0] 36
set_io b[1] 38
set_io b[2] 32
set_io b[3] 34
set_io b[4] 28
set_io b[5] 31
set_io b[6] 27
set_io b[7] 26
set_io b[8] 25
set_io b[9] 23


set_io out[0] 21
set_io out[1] 20
set_io out[2] 19
set_io out[3] 18
set_io out[4] 13
set_io out[5] 12
set_io out[6] 14
set_io out[7] 17
set_io out[8] 15
set_io out[9] 16
